
Weather.xcodeproj/project.xcworkspace/xcuserdata/wayne.lv.xcuserdatad/UserInterfaceState.xcuserstate
Weather.xcodeproj/xcuserdata/wayne.lv.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Weather.xcodeproj/xcuserdata/wayne.lv.xcuserdatad/xcschemes/xcschememanagement.plist
